.Navbar{
	margin: 0;

	& ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;

		& li{
			margin: 0;
			padding: 0;

			& a{
				margin: 0;
				padding: .75rem 1rem;
				display: flex;
				text-decoration: none;
				background-color: transparent;

				&:hover{
					background-color: rgba(250,250,250,.75);
				}

				&:focus{}

				&.is-active{
					background-color: rgba(200,200,200,.5);
				}

			}

		}

	}

}
