html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
}

body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import './node_modules/antd/dist/antd';

@import 'common/typography';

@import 'view/Main';
@import 'view/App';
@import 'view/View';
@import 'view/Toasts';
@import 'view/Navbar';
